Write a program to remove duplicates from a list using sets

In [2]:
lst=['Sharee', 'Pradeep', 'Sharee', 'Pradeep', 1, 2, 4]

In [4]:
print(set(lst))

{1, 2, 4, 'Pradeep', 'Sharee'}

Write a program to merge 2 dictionaries

In [11]:
dict1={1:'Sharee', 2:'Indian', 3:'Delhi'}

In [21]:
dict2={'name':'Pradeep', 'country':'Indian', 'City':'Hyderabad'}

In [27]:
dict_merged = {**dict1, **dict2}

In [29]:
print(dict_merged)

{1: 'Sharee', 2: 'Indian', 3: 'Delhi', 'name': 'Pradeep', 'country': 'Indian', 'City': 'Hyderabad'}

Questions on list, Tuple, Set and Dictionary

In [38]:
# how to create a list?
lst=[]
print(type(lst))

<class 'list'>

In [54]:
# Write a program to find tha largest and smallest elemtent in a list.
list1=[1,2,3,4,5,6,12,7]
list1.sort()
print(list1[-1])
print(list1[0])

#or
print()

print(min(list1))
print(max(list1))

12
1

1
12

In [70]:
#reverse a list without using reverse method

list2=[11,2,3,4,51,6,112,7]
list3=list2[::-1]
print(list3)

#reverse method
list3=list2.reverse()
print(list2)

[7, 112, 6, 51, 4, 3, 2, 11]
[7, 112, 6, 51, 4, 3, 2, 11]

In [92]:
#Create a list of squares of numbers from 1 to 10.

list4=[i**2 for i in range(1,11)]
print(list4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [109]:
#Remove duplicates from a list while maintaining the original order.

list5=[1,1,1,2,3,4,5,34,3,4,5,4]
list_unique=list(dict.fromkeys(list5))
print(list_unique)

[1, 2, 3, 4, 5, 34]

In [121]:
#check if a list is palindrome

list6=[1,2,3,2,1]
list7=list6[::-1]
if list6==list7:
    print("its a palindrome")
else:
    print("its a not palindrome")

print(list6)
print(list7)

its a palindrome
[1, 2, 3, 2, 1]
[1, 2, 3, 2, 1]

In [129]:
#Merge two lists and sort them in asc order

list8=[1,2,6]
list9=[3,4,5,7]
list10=list8+list9
list10.sort()
print(list10)

#or
print()
list11=sorted(list8+list9)
print(list11)

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [135]:
#Find the second largest number in a list.

list12=[11,2,3,4,51,51,6,112,7]
list12.sort()
print(list12[-2])
print()
print(list12)

51

[2, 3, 4, 6, 7, 11, 51, 51, 112]

In [159]:
#Count the occurances of each element in a list.


list13=[1,1,1,2,3,4,5,34,3,4,5,4,51,51]
counts={i:list13.count(i) for i in list13}
print(counts)

{1: 3, 2: 1, 3: 2, 4: 3, 5: 2, 34: 1, 51: 2}

In [169]:
#Write a python program to find the index of an element in a tuple.

tpl = (10,20,30,40)
print(tpl.index(30))

2

In [177]:
#Convert a list in to a tuple and a tuple into a list

lst1=[1,2,3,4,5]
tpl1=tuple(lst1)
print(tpl1)

(1, 2, 3, 4, 5)

In [191]:
#Count how many times an element appears in a tuple

tpl2=(1,1,1,2,3,4,5,34,3,4,5,4)
print(tpl2.count(2))

1

In [199]:
#unpack a tuple into individual variable.
tpl3= (10,20,30)
a, b, c=tpl3
print(a,b,c)

10 20 30

In [205]:
#Find the common elements between two sets.

set={1,2,3,4,5,3,12,2,1}
set1={11,2,31,14,5,3,12,2,1}
print(set & set1)

{1, 2, 3, 5, 12}

In [3]:
#Remove all items from a set except the first n elements.
set2={1,2,3,4,5}
n=3
result=set(list(set2)[:n])
print(result)

{1, 2, 3}

In [5]:
#remove duplicates from a list using a set
list15=[11,2,3,4,51,51,6,112,7]
list16=list(set(list15))
print(list16)

[2, 3, 4, 6, 7, 11, 112, 51]