Sorting, filtering, Slicing Data / Aggregation, grouping, merging, concatenating dfs.

In [303]:
import pandas as pd

In [19]:
df= pd.read_csv("data.csv")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [25]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [31]:
df.index

RangeIndex(start=0, stop=32, step=1)

In [35]:
df.reset_index()

    index  Duration          Date  Pulse  Maxpulse  Calories
0       0        60  '2020/12/01'    110       130     409.1
1       1        60  '2020/12/02'    117       145     479.0
2       2        60  '2020/12/03'    103       135     340.0
3       3        45  '2020/12/04'    109       175     282.4
4       4        45  '2020/12/05'    117       148     406.0
5       5        60  '2020/12/06'    102       127     300.0
6       6        60  '2020/12/07'    110       136     374.0
7       7       450  '2020/12/08'    104       134     253.3
8       8        30  '2020/12/09'    109       133     195.1
9       9        60  '2020/12/10'     98       124     269.0
10     10        60  '2020/12/11'    103       147     329.3
11     11        60  '2020/12/12'    100       120     250.7
12     12        60  '2020/12/12'    100       120     250.7
13     13        60  '2020/12/13'    106       128     345.3
14     14        60  '2020/12/14'    104       132     379.3
15     15        60  '2020/12/15'     98       123     275.0
16     16        60  '2020/12/16'     98       120     215.2
17     17        60  '2020/12/17'    100       120     300.0
18     18        45  '2020/12/18'     90       112       NaN
19     19        60  '2020/12/19'    103       123     323.0
20     20        45  '2020/12/20'     97       125     243.0
21     21        60  '2020/12/21'    108       131     364.2
22     22        45           NaN    100       119     282.0
23     23        60  '2020/12/23'    130       101     300.0
24     24        45  '2020/12/24'    105       132     246.0
25     25        60  '2020/12/25'    102       126     334.5
26     26        60      20201226    100       120     250.0
27     27        60  '2020/12/27'     92       118     241.0
28     28        60  '2020/12/28'    103       132       NaN
29     29        60  '2020/12/29'    100       132     280.0
30     30        60  '2020/12/30'    102       129     380.3
31     31        60  '2020/12/31'     92       115     243.0

In [43]:
df.sort_index(ascending=False)

    Duration          Date  Pulse  Maxpulse  Calories
31        60  '2020/12/31'     92       115     243.0
30        60  '2020/12/30'    102       129     380.3
29        60  '2020/12/29'    100       132     280.0
28        60  '2020/12/28'    103       132       NaN
27        60  '2020/12/27'     92       118     241.0
26        60      20201226    100       120     250.0
25        60  '2020/12/25'    102       126     334.5
24        45  '2020/12/24'    105       132     246.0
23        60  '2020/12/23'    130       101     300.0
22        45           NaN    100       119     282.0
21        60  '2020/12/21'    108       131     364.2
20        45  '2020/12/20'     97       125     243.0
19        60  '2020/12/19'    103       123     323.0
18        45  '2020/12/18'     90       112       NaN
17        60  '2020/12/17'    100       120     300.0
16        60  '2020/12/16'     98       120     215.2
15        60  '2020/12/15'     98       123     275.0
14        60  '2020/12/14'    104       132     379.3
13        60  '2020/12/13'    106       128     345.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
10        60  '2020/12/11'    103       147     329.3
9         60  '2020/12/10'     98       124     269.0
8         30  '2020/12/09'    109       133     195.1
7        450  '2020/12/08'    104       134     253.3
6         60  '2020/12/07'    110       136     374.0
5         60  '2020/12/06'    102       127     300.0
4         45  '2020/12/05'    117       148     406.0
3         45  '2020/12/04'    109       175     282.4
2         60  '2020/12/03'    103       135     340.0
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1

In [59]:
df.loc[[1,5],["Pulse","Calories"]] #selecting

   Pulse  Calories
1    117     479.0
5    102     300.0

In [87]:
df.iloc[[1,5],[2,4]] #SELECTING

   Pulse  Calories
1    117     479.0
5    102     300.0

In [97]:
df.loc[10:15,'Date':'Pulse'] #SLICING

            Date  Pulse
10  '2020/12/11'    103
11  '2020/12/12'    100
12  '2020/12/12'    100
13  '2020/12/13'    106
14  '2020/12/14'    104
15  '2020/12/15'     98

In [101]:
df.iloc[0:10,1:3] #SLICING

           Date  Pulse
0  '2020/12/01'    110
1  '2020/12/02'    117
2  '2020/12/03'    103
3  '2020/12/04'    109
4  '2020/12/05'    117
5  '2020/12/06'    102
6  '2020/12/07'    110
7  '2020/12/08'    104
8  '2020/12/09'    109
9  '2020/12/10'     98

In [153]:
pulse100=df['Pulse']<=100
pulse100.sum()

13

In [155]:
calories_are_300=df['Calories']==300
calories_are_300.sum()

3

In [163]:
df['calories_are_300 & pulse100']

df['calories_are_300 & pulse100'].sum()

1

In [169]:
df.sort_values("Calories", ascending=False)

,Duration,Date,Pulse,Maxpulse,Calories,calories_are_300 & pulse100
1,60,'2020/12/02',117,145,479.0,False
0,60,'2020/12/01',110,130,409.1,False
4,45,'2020/12/05',117,148,406.0,False
30,60,'2020/12/30',102,129,380.3,False
14,60,'2020/12/14',104,132,379.3,False
6,60,'2020/12/07',110,136,374.0,False
21,60,'2020/12/21',108,131,364.2,False
13,60,'2020/12/13',106,128,345.3,False
2,60,'2020/12/03',103,135,340.0,False
25,60,'2020/12/25',102,126,334.5,False
10,60,'2020/12/11',103,147,329.3,False
19,60,'2020/12/19',103,123,323.0,False
23,60,'2020/12/23',130,101,300.0,False
5,60,'2020/12/06',102,127,300.0,False
17,60,'2020/12/17',100,120,300.0,True
3,45,'2020/12/04',109,175,282.4,False
22,45,NaN,100,119,282.0,False
29,60,'2020/12/29',100,132,280.0,False
15,60,'2020/12/15',98,123,275.0,False
9,60,'2020/12/10',98,124,269.0,False
7,450,'2020/12/08',104,134,253.3,False
12,60,'2020/12/12',100,120,250.7,False
11,60,'2020/12/12',100,120,250.7,False
26,60,20201226,100,120,250.0,False
24,45,'2020/12/24',105,132,246.0,False
20,45,'2020/12/20',97,125,243.0,False
31,60,'2020/12/31',92,115,243.0,False
27,60,'2020/12/27',92,118,241.0,False
16,60,'2020/12/16',98,120,215.2,False
8,30,'2020/12/09',109,133,195.1,False
18,45,'2020/12/18',90,112,NaN,False
28,60,'2020/12/28',103,132,NaN,False

In [177]:
df.iloc[22,1]= 	'2020/12/22'
df.iloc[7,0]=45
df.iloc[26,1]='2020/12/26'

In [185]:
dff=df.dropna()

In [189]:
dff.sort_values("Calories", ascending=False)

,Duration,Date,Pulse,Maxpulse,Calories,calories_are_300 & pulse100
1,60,'2020/12/02',117,145,479.0,False
0,60,'2020/12/01',110,130,409.1,False
4,45,'2020/12/05',117,148,406.0,False
30,60,'2020/12/30',102,129,380.3,False
14,60,'2020/12/14',104,132,379.3,False
6,60,'2020/12/07',110,136,374.0,False
21,60,'2020/12/21',108,131,364.2,False
13,60,'2020/12/13',106,128,345.3,False
2,60,'2020/12/03',103,135,340.0,False
25,60,'2020/12/25',102,126,334.5,False
10,60,'2020/12/11',103,147,329.3,False
19,60,'2020/12/19',103,123,323.0,False
23,60,'2020/12/23',130,101,300.0,False
5,60,'2020/12/06',102,127,300.0,False
17,60,'2020/12/17',100,120,300.0,True
3,45,'2020/12/04',109,175,282.4,False
22,45,2020/12/22,100,119,282.0,False
29,60,'2020/12/29',100,132,280.0,False
15,60,'2020/12/15',98,123,275.0,False
9,60,'2020/12/10',98,124,269.0,False
7,45,'2020/12/08',104,134,253.3,False
12,60,'2020/12/12',100,120,250.7,False
11,60,'2020/12/12',100,120,250.7,False
26,60,2020/12/26,100,120,250.0,False
24,45,'2020/12/24',105,132,246.0,False
20,45,'2020/12/20',97,125,243.0,False
31,60,'2020/12/31',92,115,243.0,False
27,60,'2020/12/27',92,118,241.0,False
16,60,'2020/12/16',98,120,215.2,False
8,30,'2020/12/09',109,133,195.1,False

In [187]:
dff

,Duration,Date,Pulse,Maxpulse,Calories,calories_are_300 & pulse100
0,60,'2020/12/01',110,130,409.1,False
1,60,'2020/12/02',117,145,479.0,False
2,60,'2020/12/03',103,135,340.0,False
3,45,'2020/12/04',109,175,282.4,False
4,45,'2020/12/05',117,148,406.0,False
5,60,'2020/12/06',102,127,300.0,False
6,60,'2020/12/07',110,136,374.0,False
7,45,'2020/12/08',104,134,253.3,False
8,30,'2020/12/09',109,133,195.1,False
9,60,'2020/12/10',98,124,269.0,False
10,60,'2020/12/11',103,147,329.3,False
11,60,'2020/12/12',100,120,250.7,False
12,60,'2020/12/12',100,120,250.7,False
13,60,'2020/12/13',106,128,345.3,False
14,60,'2020/12/14',104,132,379.3,False
15,60,'2020/12/15',98,123,275.0,False
16,60,'2020/12/16',98,120,215.2,False
17,60,'2020/12/17',100,120,300.0,True
19,60,'2020/12/19',103,123,323.0,False
20,45,'2020/12/20',97,125,243.0,False
21,60,'2020/12/21',108,131,364.2,False
22,45,2020/12/22,100,119,282.0,False
23,60,'2020/12/23',130,101,300.0,False
24,45,'2020/12/24',105,132,246.0,False
25,60,'2020/12/25',102,126,334.5,False
26,60,2020/12/26,100,120,250.0,False
27,60,'2020/12/27',92,118,241.0,False
29,60,'2020/12/29',100,132,280.0,False
30,60,'2020/12/30',102,129,380.3,False
31,60,'2020/12/31',92,115,243.0,False

In [191]:
dff.reset_index()

,index,Duration,Date,Pulse,Maxpulse,Calories,calories_are_300 & pulse100
0,0,60,'2020/12/01',110,130,409.1,False
1,1,60,'2020/12/02',117,145,479.0,False
2,2,60,'2020/12/03',103,135,340.0,False
3,3,45,'2020/12/04',109,175,282.4,False
4,4,45,'2020/12/05',117,148,406.0,False
5,5,60,'2020/12/06',102,127,300.0,False
6,6,60,'2020/12/07',110,136,374.0,False
7,7,45,'2020/12/08',104,134,253.3,False
8,8,30,'2020/12/09',109,133,195.1,False
9,9,60,'2020/12/10',98,124,269.0,False
10,10,60,'2020/12/11',103,147,329.3,False
11,11,60,'2020/12/12',100,120,250.7,False
12,12,60,'2020/12/12',100,120,250.7,False
13,13,60,'2020/12/13',106,128,345.3,False
14,14,60,'2020/12/14',104,132,379.3,False
15,15,60,'2020/12/15',98,123,275.0,False
16,16,60,'2020/12/16',98,120,215.2,False
17,17,60,'2020/12/17',100,120,300.0,True
18,19,60,'2020/12/19',103,123,323.0,False
19,20,45,'2020/12/20',97,125,243.0,False
20,21,60,'2020/12/21',108,131,364.2,False
21,22,45,2020/12/22,100,119,282.0,False
22,23,60,'2020/12/23',130,101,300.0,False
23,24,45,'2020/12/24',105,132,246.0,False
24,25,60,'2020/12/25',102,126,334.5,False
25,26,60,2020/12/26,100,120,250.0,False
26,27,60,'2020/12/27',92,118,241.0,False
27,29,60,'2020/12/29',100,132,280.0,False
28,30,60,'2020/12/30',102,129,380.3,False
29,31,60,'2020/12/31',92,115,243.0,False

In [281]:
agg_dff = dff.groupby("Duration").agg(
    min_pulse_max=('Pulse','max'),
    Average_Calories=('Calories','mean')
).reset_index()

In [283]:
print("Aggregated DataFrame")
agg_dff

Aggregated DataFrame

   Duration  min_pulse_max  Average_Calories
0        30            109         195.10000
1        45            117         285.45000
2        60            130         314.46087

In [285]:
agg_dff2 = dff.groupby("Duration").agg(
    Max_pulse_max=("Maxpulse", "max")
).reset_index()
agg_dff2

   Duration  Max_pulse_max
0        30            133
1        45            175
2        60            147

In [287]:
merged_dffs=pd.merge(agg_dff,agg_dff2,on='Duration',how='left')

In [289]:
merged_dffs

   Duration  min_pulse_max  Average_Calories  Max_pulse_max
0        30            109         195.10000            133
1        45            117         285.45000            175
2        60            130         314.46087            147

In [299]:
concat_dfs=pd.concat([merged_dffs,agg_dff,agg_dff2], ignore_index=False)

In [301]:
concat_dfs

   Duration  min_pulse_max  Average_Calories  Max_pulse_max
0        30          109.0         195.10000          133.0
1        45          117.0         285.45000          175.0
2        60          130.0         314.46087          147.0
0        30          109.0         195.10000            NaN
1        45          117.0         285.45000            NaN
2        60          130.0         314.46087            NaN
0        30            NaN               NaN          133.0
1        45            NaN               NaN          175.0
2        60            NaN               NaN          147.0